<ion-view view-title="新纪录">
  <ion-content>
    <div class="button-bar padding">
      <a class="button button-full" ng-class="{'button-positive': Para.isPay==0}" ng-click="changeType(0)">收入</a>
      <a class="button button-full" ng-class="{'button-positive': Para.isPay==1}" ng-click="changeType(1)">支出</a>
    </div>
    <form role="form" name="recordForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">数额</span>
          <input type="tel" placeholder="支持两位小数！" maxlength="12" ng-model="Para.amount" ng-pattern="/^\d+(\.\d{1,2})?$/" required>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            位置
          </div>
          <select ng-model="Para.locationSelected" ng-options="opt as opt.name for opt in locations">
          </select>
        </label>
      </div>
    </form>
    <div >
      <div class="list">
        <div class="item item-divider">
          请选择类型
        </div>

        <ion-radio ng-repeat="item in incomeTypes"
                   ng-value = "item.id"
                   ng-model="Para.selectedID" 
                   ng-class="{'hideRadio': Para.isPay==1}" 
                   >
          {{ item.typeName }}
        </ion-radio>
        <ion-radio ng-repeat="item in payTypes" 
                   ng-value = "item.id"
                   ng-model="Para.selectedID"
                   ng-class="{'hideRadio': Para.isPay==0}" 
                   >
          {{ item.typeName }}
        </ion-radio>

      </div>
      <button class="button button-full button-positive" ng-disabled="recordForm.$invalid || Para.selectedID == ''" ng-click="submit()">
        提交
      </button>
    </div>
  </ion-content>
</ion-view>
