<ion-view view-title="Browse">
  <ion-content>
  <ion-slide-box show-pager="true" does-continue="true">
  	<ion-slide>
	    <div class="card">
		  	<div class="item item-divider item-button-right">
		    	I'm a Header in a Card!
			    <button class="button  button-clear">
			      air
			    </button>
		  	</div>
		  	<div class="item">
		    	<div class=" progress progress-striped " >
					<div class="progress-bar  progress-bar-positive" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
		    			<span>110 / 11911111111111111111 </span>
		  			</div>
				</div>
		  	</div>
		</div>
  	</ion-slide>
  	<ion-slide>
		<div class="card">
		  	<div class="item item-divider">
		    	I'm a Header in a Card!
		  	</div>
		  	<div class="item">
		    	<div class=" progress progress-striped " >
					<div class="progress-bar  progress-bar-positive" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
		    			<span>110 / 11911111111111111111 </span>
		  			</div>
				</div>
		  	</div>
		</div>
  	</ion-slide>
  </ion-slide-box>
  </ion-content>
</ion-view>
