<ion-view view-title="Home">
  <ion-content style="background-color:#f8f8f8">
	<div class="card" style="margin-top:15px; margin-bottom:5px; " ng-show="Para.showWeather" ng-click="go('app.weather')">
	  	<div class="item" style="height:50px; background-color:#f8f8f8">
	  		<div style="float:left;"><font size="4">{{Para.city}}：{{Para.temp}}</font>
	  		</div>
	  		<img src="{{Para.nightUrl}}" height="30px" width="42px" style="float:right;margin-top:-5px">
	  		<img src="{{Para.dayUrl}}" height="30px" width="42px" style="float:right;margin-right:10px;margin-top:-5px">
	  	</div>
	</div>

  	<div class="button-bar padding-left padding-right" style="margin-bottom:-21px">
			<a class="button button-full icon-right ion-calculator  button-stable"  ng-click="go('app.budget')">预算</a>
			<a class="button button-full icon-right ion-compose  button-stable" ng-click="go('app.addRecord')">新记录</a>
			<a class="button button-full icon-right ion-clipboard  button-stable" ng-click="go('app.count')">统计</a>
  	</div>
  	<div class="button-bar padding-left padding-right" style="margin-bottom:-21px">
			<a class="button button-full icon-right ion-android-pin  button-stable" ng-click="go('app.address')">地址</a>
			<a class="button button-full icon-right ion-android-calendar  button-stable" ng-click="go('app.monthCount')">月统计</a>
			<a class="button button-full icon-right ion-android-map  button-stable" ng-click="go('app.map')">地图</a>
  	</div>
  	<div class="button-bar padding-left padding-right" style="margin-bottom:-15px">
			<a class="button button-full icon-right ion-social-rss  button-stable" ng-click="go('app.news')">新闻</a>
			<a class="button button-full icon-right ion-android-folder-open  button-stable" ng-click="go('app.records')">全记录</a>
			<a class="button button-full icon-right ion-arrow-graph-up-right  button-stable" ng-click="go('app.stock')">股市</a>
  	</div>


  	<ion-slide-box show-pager="true" does-continue="true" auto-play="true" slide-interval="2000"  on-slide-changed="selectIndex($index)" style="margin-bottom:-25px">

	  	<ion-slide ng-repeat="item in budgetItems">
		    <div class="card">
			  	<div class="item item-divider item-button-right">
			    	本月预算：{{item.typeName}}
			  	</div>
			  	<div class="item" style="background-color:#f8f8f8">
			    	<div class="progress progress-striped" >
						<div class="progress-bar 
						{{item.isPay==0?'progress-bar-success':'progress-bar-warning'}} 
						{{item.proportion==1?'progress-bar-danger':''}}"  
						style="width: {{item.proportion*100}}%; padding-top:4px;">
			    			<span>
			    				<font color="black" size="4" style="padding-left:5px">{{item.used}} / {{item.budget}} </font>
			    			</span>
			  			</div>
					</div>
			  	</div>
			</div>
	  	</ion-slide>
  	</ion-slide-box>

	<div class="list" style="margin-bottom:30px">
	<div class="card"  ng-repeat="item in recordItems" style="margin-bottom:-5px">
		<div class="item item-divider">
		   {{item.time}}
		</div>
		<div class="item item-text-wrap" style="background-color:#{{item.isPay==0?'33cd5f':'f0b840'}};color:black;">
		   {{item.typeName}}<div style="float:right">${{item.amount}}</div>
		</div>
	</div>
	</div>
  </ion-content>
</ion-view>
