<ion-view view-title="Home">
  <ion-content>
  	<div class="button-bar padding-left padding-right padding-top" style="margin-bottom:-10px">
			<a class="button button-full icon-right ion-calculator  button-positive" ng-click="go('app.budget')">预算</a>
			<a class="button button-full icon-right ion-compose  button-positive" ng-click="go('app.addRecord')">新记录</a>
			<a class="button button-full icon-right ion-clipboard  button-positive" ng-click="go('app.count')">统计</a>
  	</div>

	<div class="card" style="margin-bottom:0px" ng-show="Para.showWeather" ng-click="go('app.weather')">
	  	<div class="item" style="height:50px">
	  		<div style="float:left;"><font size="4">{{Para.city}}：{{Para.temp}}</font>
	  		</div>
	  		<img src="{{Para.nightUrl}}" height="30px" width="42px" style="float:right;margin-top:-5px">
	  		<img src="{{Para.dayUrl}}" height="30px" width="42px" style="float:right;margin-right:10px;margin-top:-5px">
	  	</div>
	</div>

  	<ion-slide-box show-pager="true" does-continue="true" auto-play="true" slide-interval="2000"  on-slide-changed="selectIndex($index)" style="margin-bottom:-20px">

	  	<ion-slide ng-repeat="item in budgetItems">
		    <div class="card">
			  	<div class="item item-divider item-button-right">
			    	本月预算：{{item.typeName}}
			  	</div>
			  	<div class="item" >
			    	<div class="progress progress-striped active" >
						<div class="progress-bar 
						{{item.isPay==0?'progress-bar-success':'progress-bar-warning'}} 
						{{item.proportion==1?'progress-bar-danger':''}}"  
						style="width: {{item.proportion*100}}%;padding-top:4px">
			    			<span>
			    				<font color="black" size="4">{{item.used}} / {{item.budget}} </font>
			    			</span>
			  			</div>
					</div>
			  	</div>
			</div>
	  	</ion-slide>
  	</ion-slide-box>

	<div class="list">
	<div class="card"  ng-repeat="item in recordItems">
		<div class="item item-divider">
		   {{item.time}}
		</div>
		<div class="item item-text-wrap" style="background-color:#{{item.isPay==0?'33cd5f':'f0b840'}};color:black">
		   {{item.typeName}}<div style="float:right">${{item.amount}}</div>
		</div>
	</div>
	</div>
  </ion-content>
</ion-view>
