
    <ion-view view-title="Login">
    <!--<style type="text/css">
      input.ng-invalid {
        border: 1px solid red;
      }
    </style>-->
      <ion-content scroll=false  > 
        <form role="form" name="loginForm" novalidate>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">用户名</span>
            <i class="icon ion-checkmark"  style="float:right; padding-right:10px;" ng-show="loginForm.txtUsername.$valid"></i>  
            <input type="text" name="txtUsername" placeholder="仅支持字母与数字！" maxlength="12" ng-model="loginUser.username" ng-pattern="/^[A-Za-z0-9]+$/" required>
            <!-- <span class="glyphicon glyphicon-ok form-control-feedback"
                            ng-show="loginForm.txtUsername.$valid"></span>  -->
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">密码</span>
            <i class="icon ion-checkmark"  style="float:right; padding-right:10px;" ng-show="loginForm.txtPassword.$valid"></i> 
            <input type="password" name="txtPassword" placeholder="仅支持字母与数字！" maxlength="12" ng-model="loginUser.password" ng-pattern="/^[A-Za-z0-9]+$/" required>
             <!-- <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="loginForm.txtPassword.$valid"></span>     --> 
          </label>
        </div>
        <!-- <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="user.username">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.password">
          </label>
        </div> -->
        <div class="padding">
          <button class="button button-block button-positive" ng-disabled="loginForm.$invalid" ng-click="login()">
            登录
          </button>
        </div>
        </form>
        <div class="padding" style="text-align:center;">
          <p><font color=red ng-show="errorShow">请求失败 ！</font></p>
          <p><font color=red ng-show="failShow">登录失败 ！</font></p>
          <p><font color='#387ef5'>建议开启GPS ！</font></p>
        </div> 
      </ion-content>
    </ion-view>