<ion-view view-title="地图">
	<ion-content style="margin:0 10px" scroll=false>
    <div class="button-bar padding-top" ng-show="Para.showButtons">
      <a class="button" ng-class="{'button-positive': Para.incomeHeatShown}" ng-click="incomeHeatForMap()" ng-disabled="Para.incomeHeatAbled == false">收入分布</a>
      <a class="button" ng-class="{'button-positive': Para.payHeatShown}" ng-click="payHeatForMap()" ng-disabled="Para.payHeatAbled == false">支出分布</a>
      <a class="button" ng-class="{'button-positive': Para.addressShown}" ng-click="addressForMap()" ng-disabled="Para.addressAbled == false">常用地址</a>
    </div>
		<div id='mapContainer' class="mapContainer"></div>
	</ion-content>
</ion-view>