<ion-view view-title="按月统计">
  <ion-content>

    <div class="button-bar padding" ng-show="!Para.showSpinner">
      <a class="button icon ion-arrow-graph-up-right positive" ng-class="{'button-positive': currentChart=='Line'}" ng-click="showLine()"></a>
      <a class="button icon ion-stats-bars positive" ng-class="{'button-positive': currentChart=='Column'}" ng-click="showColumn()"></a>
    </div>
    <div style="text-align:center;margin: -10px 10px ;">
      <div id="container"  class="chart" >
      </div>
    </div>

    <div class="list padding-top">
      <div class="card" ng-repeat="item in countItems">
        <div class="item item-divider">
           {{item.date}}
        </div>

        <div class="item item-text-wrap item-icon-left" style="background-color:#33cd5f;color:black"
             ng-click="toggleGroup(item.date + '-0')" ng-class="{active: isGroupShown(item.date + '-0')}">
           <i class="icon ion-ios-plus-empty"></i>
           收入<div style="float:right">${{item.income}}</div>
        </div>
        <div class="item item-accordion"
             style="background-color:#33cd5f;color:black;"
             ng-repeat="incomeListItem in item.incomeListItems"
             ng-show="isGroupShown(item.date + '-0')">
          <i class="icon ion-ios-plus-empty" style="padding-left:7px"></i>
          <span style="padding-left:20px">{{incomeListItem.typeName}}</span>
          <div style="float:right">${{incomeListItem.income}}</div>
        </div>

        <div class="item item-text-wrap item-icon-left" style="background-color:#f0b840;color:black"
             ng-click="toggleGroup(item.date + '-1')" ng-class="{active: isGroupShown(item.date + '-1')}">
           <i class="icon ion-ios-minus-empty"></i>
          支出<div style="float:right">${{item.pay}}</div>
        </div>
        <div class="item item-accordion"
             style="background-color:#f0b840;color:black"
             ng-repeat="payListItem in item.payListItems"
             ng-show="isGroupShown(item.date + '-1')">
          <i class="icon ion-ios-minus-empty" style="padding-left:7px"></i>
          <span style="padding-left:20px">{{payListItem.typeName}}</span>
          <div style="float:right">${{payListItem.pay}}</div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
