<ion-view view-title="Playlist">
  
 
<ion-content class="has-footer">


<div class="padding">
<p>
<button class="button">
  Default
</button>
</p>

<p>
<button class="button button-light">
  button-light
</button>
</p>

<p>
<button class="button button-stable">
  button-stable
</button>
</p>

<p>
<button class="button button-positive">
  button-positive
</button>
</p>

<p>
<button class="button button-calm">
  button-calm
</button>
</p>

<p>
<button class="button button-balanced">
  button-balanced
</button>
</p>

<p>
<button class="button button-energized">
  button-energized
</button>
</p>

<p>
<button class="button button-assertive">
  button-assertive
</button>
</p>


<p>
<button class="button button-outline button-assertive">
  button-assertive
</button>
</p>

<p>
<button class="button button-outline button-royal">
  button-royal
</button>
</p>

<p>
<button class="button button-outline button-dark">
  button-dark
</button>
</p>

</div>


<div class="list">
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
</div>

<div>
  
<p>
<button class="button button-outline button-assertive">
  button-assertive
</button>
</p>

<p>
<button class="button button-outline button-royal">
  button-royal
</button>
</p>

<p>
<button class="button button-outline button-dark">
  button-dark
</button>
</p>

</div>

</ion-content>


<div class="bar bar-footer bar-positive">
  <div class="title">lwf</div>
</div>


</ion-view>
