
    <ion-view view-title="Regist">
      <ion-content scroll=false>
        <form role="form" name="registForm" novalidate>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">用户名</span>
            <i class="icon ion-checkmark"  style="float:right; padding-right:10px;" ng-show="registForm.txtUsername.$valid && nameUnique"></i>  
            <input type="text" name="txtUsername" placeholder="仅支持字母与数字！" maxlength="12" ng-model="registUser.username" ng-pattern="/^[A-Za-z0-9]+$/" required>
            <!-- <span class="glyphicon glyphicon-ok form-control-feedback"
                            ng-show="registForm.txtUsername.$valid && nameUnique"></span>  -->  
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">密码</span>
            <i class="icon ion-checkmark"  style="float:right; padding-right:10px;" ng-show="registForm.txtPassword.$valid"></i>  
            <input type="password" name="txtPassword" placeholder="仅支持字母与数字！" maxlength="12" ng-model="registUser.password" 
            ng-pattern="/^[A-Za-z0-9]+$/" required>
            <!-- <span class="glyphicon glyphicon-ok form-control-feedback"
                            ng-show="registForm.txtPassword.$valid"></span>    -->
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">确认密码</span>
            <i class="icon ion-checkmark"  style="float:right; padding-right:10px;" 
            ng-show="registForm.txtConPassword.$valid && (registUser.password == registUser.conPassword)"></i>  
            <input type="password" name="txtConPassword" placeholder="仅支持字母与数字！" maxlength="12" ng-model="registUser.conPassword" 
            ng-pattern="/^[A-Za-z0-9]+$/" required>
            <!-- <span class="glyphicon glyphicon-ok form-control-feedback"
                            ng-show="registForm.txtConPassword.$valid && (registUser.password == registUser.conPassword)"></span>    -->
          </label>
        </div>
        <!-- <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="user.username">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.password">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.password">
          </label>
        </div> -->
        <div class="padding">
          <button class="button button-block button-positive"  ng-disabled="registForm.$invalid || (nameUnique == false) || (registUser.password != registUser.conPassword)"  
          ng-click="regist()">
            注册
          </button>
        </div>
        </form>
        <div class="padding" style="text-align:center;">
          <p><font color=red ng-show="errorShow">请求失败 ！</font></p>
          <p><font color=red ng-show="duplicateShow">用户名重复 ！</font></p>
        </div> 
      </ion-content>
    </ion-view>